
/* FONDO GENERAL */
body{
    background-color:black;
    color:white;
    font-family:Arial;
}

/* TITULO */
.titulo-pagina{
    text-align: center;
    color: #ff7b00;
    margin-top: 30px;
}

/* CONTENEDOR TABLA */
.contenedor-tabla{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* TABLA */
.tabla-solicitudes{
    width: 85%;
    border-collapse: separate;
    border-spacing: 0;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #ff7b00;
}

/* ENCABEZADO */
.tabla-solicitudes th{
    background: #111;
    color: #ff7b00;
    padding: 12px;
    text-align: center;
}

/* CELDAS */
.tabla-solicitudes td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255,123,0,0.2);
}

/* HOVER */
.tabla-solicitudes tr:hover{
    background: rgba(255,123,0,0.1);
}

/* ESTADOS */
.estado-pendiente{
    color: #ff4d4d;
    font-weight: bold;
}

.estado-ok{
    color: #00ff99;
    font-weight: bold;
}

/* TEXTO SIN RESPUESTA */
.pendiente{
    color: #aaa;
    font-style: italic;
}

/* BOTON */
.contenedor-boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-volver{
    background: #ff7b00;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-volver:hover{
    background: #ff9a33;
    transform: scale(1.05);
}
