
/* FONDO ANIMADO */
body {
    color: white !important;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #FF512F);
    background-size: 400% 400%;
    animation: fondoAnimado 10s ease infinite;
    min-height: 100vh;
}



/* CARD */
.card {
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.fondoo{
    background-color: transparent;
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
    border: 1pt solid orange;
}

/* INPUTS */
.form-control {
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.2);
    color: black;
    border-radius: 12px;
}

.form-control:focus {
    background: rgba(255,255,255,0.12);
    border-color: #F09819;
    box-shadow: 0 0 10px rgba(240,152,25,0.5);
    color: white;
}

/* BOTONES */
.btn {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  padding: 10px 30px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 15px;
  border: none;
  font-weight: 600;
}

.btn:hover {
  background-position: right center;
  color: #fff;
}

.btn1 {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
  padding: 10px 30px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 15px;
  border: none;
  font-weight: 600;
}

.btn1:hover {
  background-position: right center;
}

/* IMAGEN */
.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.textoLabel {
    color: white;
}
